<ion-content class="register-content">
  <div class="register-wrapper">

    <div class="hero-text">
      <h1>Join the<br/><span class="green">Playground.</span></h1>
      <p>Experience the warmth of early-2000s connection reimagined for the modern era.</p>
    </div>

    <div class="form-card">
      <div class="form-header">
        <div>
          <h2>Create Account</h2>
        </div>
      </div>

      <div class="field-group">
        <label>Full Name</label>
        <input type="text" placeholder="Buddy Holly" [(ngModel)]="form.nombre" (ngModelChange)="clearError('nombre')"/>
        <span class="err" *ngIf="errors.nombre">{{ errors.nombre }}</span>
      </div>

      <div class="field-group">
        <label>Username</label>
        <input type="text" placeholder="buddy_99" [(ngModel)]="form.username" (ngModelChange)="clearError('username')"/>
        <span class="err" *ngIf="errors.username">{{ errors.username }}</span>
      </div>

      <div class="field-group">
        <label>Email Address</label>
        <input type="email" placeholder="hello@orion.com" [(ngModel)]="form.email" (ngModelChange)="clearError('email')"/>
        <span class="err" *ngIf="errors.email">{{ errors.email }}</span>
      </div>

      <div class="field-group">
        <label>Date of Birth</label>
        <input type="date" [(ngModel)]="form.fechaNacimiento" (ngModelChange)="clearError('fechaNacimiento')"/>
        <span class="err" *ngIf="errors.fechaNacimiento">{{ errors.fechaNacimiento }}</span>
      </div>

      <div class="field-group">
        <label>Password</label>
        <div class="input-wrap">
          <input [type]="showPassword ? 'text' : 'password'" placeholder="••••••••" [(ngModel)]="form.password" (ngModelChange)="clearError('password')"/>
          <ion-icon [name]="showPassword ? 'eye-off-outline' : 'eye-outline'" (click)="showPassword = !showPassword"></ion-icon>
        </div>
        <span class="err" *ngIf="errors.password">{{ errors.password }}</span>
      </div>

      <div class="field-group">
        <label>Confirm Password</label>
        <div class="input-wrap">
          <input [type]="showConfirmPassword ? 'text' : 'password'" placeholder="••••••••" [(ngModel)]="form.confirmPassword" (ngModelChange)="clearError('confirmPassword')"/>
          <ion-icon [name]="showConfirmPassword ? 'eye-off-outline' : 'eye-outline'" (click)="showConfirmPassword = !showConfirmPassword"></ion-icon>
        </div>
        <span class="err" *ngIf="errors.confirmPassword">{{ errors.confirmPassword }}</span>
      </div>

      <button class="btn-primary" (click)="register()" [disabled]="loading">
        <ion-spinner *ngIf="loading" name="crescent"></ion-spinner>
        <span *ngIf="!loading">Register Account</span>
      </button>

      <p class="signin-link">Already have an account? <a (click)="goToLogin()">Sign In</a></p>
    </div>

  </div>
</ion-content>
